/* properties of the background picture of the login page and end_game page*/
body
{

  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;

}

/* properties of the title of the login and end_game page*/
h1
{

  z-index: 2;
  font-family: Arial;
  text-align: center;
  color: #da6210;
  border-top: 5px #5d5a57 solid;
  border-right: 5px #5d5a57 solid;
  border-left: 5px #5d5a57 solid;
  border-bottom: 1px #5d5a57 solid;
  /*border-radius: 10px;*/
  width: 28%;
  min-width: 400px;
  padding: 40px;
  margin: auto;
  background-color: #e7e7e7;
  margin-top: 150px;

}

/* properties of the formulary of the login and end_game page*/
form{
  z-index: 2;
  font-family: Arial;
  font-size: 22px;
  text-align: center;
  color: #da6210;
  width: 28%;
  min-width: 400px;
  padding: 40px;
  margin: auto;
  background-color: #e7e7e7;
  border-top: 1px #5d5a57 solid;
  border-right: 5px #5d5a57 solid;
  border-left: 5px #5d5a57 solid;
  border-bottom: 5px #5d5a57 solid;
}
