<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Test2</title>
  <style>* { padding: 0; margin: 0; }
  canvas { display: block; margin: 0 auto; }
  #map {z-index: 1; position:absolute; left:0px; top:0px;}
  #players {z-index: 2; position:absolute; left:0px; top:0px;} </style>
</head>

<body>

  <div style="display:none;">
    <img id="source" src = "{{ url_for('static', filename='map_alpha_mini.png') }}" >
    <img id="background" src = "{{ url_for('static', filename='map_alpha.png') }}" >
    <img id="grid" src = "{{ url_for('static', filename='grid.png') }}">
    <img id="heal" src = "{{ url_for('static', filename='heal.png') }}" >
    <img id="boost" src = "{{ url_for('static', filename='boost.png') }}" >


  </div>

  <canvas id="map" ></canvas>
  <canvas id="players"></canvas>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

  <script src="{{ url_for('static', filename='Players_interface.js') }}" rel="stylesheet" type="text/javascript" /></script>

  <script>

    var map_canvas = document.getElementById("map");
    map_canvas.height = window.innerHeight;
    map_canvas.width = window.innerWidth;
    var map_ctx = map_canvas.getContext("2d");

    var map_rendered = document.createElement("canvas");
    var map_rendered_ctx;

    var players_canvas = document.getElementById("players");
    var players_ctx = players_canvas.getContext("2d");
    players_canvas.height = window.innerHeight;
    players_canvas.width = window.innerWidth;

    var created = false;
    var bigballRadius = 10;
    var vmax = 250;
    var smallballRadius = 3;
    var alive = true;

    var spacePressed = false;
    var once = true;
    var quadwidth = 2;
    var quadspace = 50;


    var drawing = true;
    var personalX = 0 ;
    var vx ;
    var personalY = 0 ;
    var vy ;
    var v0 = Math.sqrt(Math.pow(vx,2) + Math.pow(vy,2) ) ;

    var width = map_canvas.width ;
    var height = map_canvas.height ;
    var map ;
    var map_width  = 486;
    var map_height  = 453;
    var bonus_width = 40 ;
    var bonus_height = 40;

    var score_red = 0;
    var score_blue = 0;

    var id = -1 ;
    var socket = io.connect('http://127.0.0.1:5000');


    client_players = {} ;
    client_bullets = {} ;
    client_color = {} ;
    client_bonus = {} ;
    var team_colors = {'red' : '#ff0000', 'blue' : '#0000ff'} ;

    socket.on('connect', function()
      {    socket.emit('new_connection');
    });

    socket.on('dead',function(ID){
      if (ID == id){
        alive = false ;
        socket.emit('logout');
      }
    });
    socket.on('score_update',function(scores){
      score_red = scores['score_red'];
      score_blue = scores['score_blue'];
    });

    function compute_rendering()
    {
      map_rendered.width = map_width ;
      map_rendered.height = map_height ;
      map_rendered_ctx = map_rendered.getContext("2d");

      // contour de la map
      map_rendered_ctx.beginPath()
      map_rendered_ctx.fillStyle = "#ff0000";
      map_rendered_ctx.moveTo(0,0); map_rendered_ctx.lineTo(map_width,0);
      map_rendered_ctx.lineTo(map_width, map_height);
      map_rendered_ctx.lineTo(0, map_height);
      map_rendered_ctx.stroke() ;

      // quadrillage
      for (var nx = 0; nx < Math.floor(map_width/quadspace)+1; nx += 1){
        map_rendered_ctx.beginPath();
        map_rendered_ctx.rect(nx*quadspace,0, quadwidth, map_rendered.width);
        map_rendered_ctx.fillStyle = "#9E9E9E";
        map_rendered_ctx.fill();
        map_rendered_ctx.closePath();
      }
      for (var ny = 0; ny < Math.floor(map_width/quadspace);ny += 1){
        map_rendered_ctx.beginPath();
        map_rendered_ctx.rect(0,ny*quadspace, map_rendered.width, quadwidth);
        map_rendered_ctx.fillStyle = "#9E9E9E";
        map_rendered_ctx.fill();
        map_rendered_ctx.closePath();
      }
      // map
      // for (var x = 0; x < map_height; x += 1){
      //   for (var y = 0; y < map_width; y += 1){
      //     if (map[x][y] == true) {
      //       map_rendered_ctx.beginPath();
      //       map_rendered_ctx.rect(y,x, 1, 1);
      //       map_rendered_ctx.fillStyle = "#00000";
      //       map_rendered_ctx.fill();
      //       map_rendered_ctx.closePath();
      //     }
      //   }
      //}

      var back = document.getElementById('background');
      map_rendered_ctx.drawImage(back,0,0);


    }

socket.on('authentification',function(dict)
{
  id =  dict["id"];
  alive = true ;
  map_width = dict["map_width"] ; map_height = dict["map_height"] ;
  console.log(map_width);
  console.log(map_height);
  compute_rendering();
  console.log(id);

});

socket.on('update',function(game)
{
  created = true;
  drawing = true;
  client_players = game["players"] ;
  client_bullets = game["bullets"] ;
  client_bonus = game["bonus"] ;
  personalX = client_players[id]["x"] ;
  personalY = client_players[id]["y"];
  personalPseudo = client_players[id]["pseudo"];
});



document.addEventListener("mousemove", mouseMoveHandler, false);
document.addEventListener("keydown", keyDownHandler, false);
document.addEventListener("keyup", keyUpHandler, false);


function mouseMoveHandler(e)
{
  if (alive && id != -1)
  {
    relativeX = e.clientX + window.pageXOffset;
    relativeY = e.clientY + window.pageYOffset;
    vx = relativeX - width/2 ;
    vy = relativeY - height/2 ;
    v0 = Math.sqrt(Math.pow(vx,2) + Math.pow(vy,2) );

    if (v0 > vmax)
    {
      vx = vx*vmax/v0 ;
      vy = vy*vmax/v0 ;
      v0 = vmax ;
    }

    socket.emit('client_speed_update', id, vx, vy ) ;
  }
}

function keyDownHandler(e){
  if(e.keyCode == 32 && once && alive)
  {
    spacePressed = true;
    once = false;
    socket.emit('client_shoot', id,(vx*vmax)/v0, (vy*vmax)/v0);
  }
}

function keyUpHandler(e){
  if(e.keyCode == 32 && alive)
  {
    spacePressed = false;
    once = true;
  }
}

class ball
{
  constructor(x,y,r,color)
  {
    this.x = x;
    this.y = y;
    this.rayon = r;
    this.nbaby = [];
    this.color = color;
  }

  drawBall()
  {
    players_ctx.beginPath();
    players_ctx.arc(this.x, this.y, this.rayon, 0, 2*Math.PI);
    players_ctx.fillStyle = this.color;
    players_ctx.fill();
    players_ctx.closePath();
  }
}

function draw()
{

  if (drawing)
  {

    map_ctx.clearRect(0, 0, map_canvas.width, map_canvas.height);
    map_ctx.drawImage( map_rendered, width/2 - personalX, height/2 - personalY );
  }

  socket.emit('request_frame');

  if (drawing)
  {
    players_ctx.clearRect(0, 0, players_canvas.width, players_canvas.height);

    for (var id_players in client_players)
    {
      id_players = Number(id_players);
      var x = client_players[id_players]["x"];
      var y = client_players[id_players]["y"];
      if (Math.abs(x-personalX) <= width/2 && Math.abs(y-personalY) <= height/2 )
      {
        let B = new ball(x - personalX + width/2, y - personalY + height/2,
          client_players[id_players]["r"], team_colors[client_players[id_players]["team"]]);
        B.drawBall();
        drawPseudo(client_players[id_players]["pseudo"], x - personalX + width/2, y - personalY + height/2-20);
        drawMiniMap();
        drawScore();
        drawTeamScores();
              if (id != -1 && created)
      {
          drawLife(client_players[id]["r"]);
      }
      }
    }
    for (var id_bullets in client_bullets)
    {
      id_bullets = Number(id_bullets);
      var x = client_bullets[id_bullets]["x"];
      var y = client_bullets[id_bullets]["y"];
      if (Math.abs(x-personalX) <= width/2 && Math.abs(y-personalY) <= height/2 )
      {
        let B = new ball(x - personalX + width/2, y - personalY + height/2,
           smallballRadius, team_colors[client_bullets[id_bullets]["team"]]);
        B.drawBall();
      }
    }
    for (var id_bonus in client_bonus)
    {
      id_bonus = Number(id_bonus);
      bonus_skin = document.getElementById(client_bonus[id_bonus]["type"]);
      map_ctx.drawImage(bonus_skin,
         client_bonus[id_bonus]["x"] - personalX + width/2-bonus_width/2,
          client_bonus[id_bonus]["y"] - personalY + height/2-bonus_height/2,
        bonus_width, bonus_height ) ;
    }
  }
  drawing = false;
  requestAnimationFrame(draw);
}


draw();

</script>

</body>
</html>
